

A:hover { COLOR: #3a604b;text-decoration:underline;}

.WebHR_Heading1 { font-size:22px; font-weight:normal; font-family: Trebuchet MS, Arial, Verdana; color:#003366; }
.WebHR_Heading2 { font-size:18px; font-weight:normal; font-family: Tahoma, Arial, Verdana; color:#003366; }

.FieldTitle { float:left; margin-left:16px; margin-top:12px; width:180px; font-family:Trebuchet MS, Arial; font-size:12px; color:#7d7d7d; }
.FieldValue { float:left; margin-top:12px; font-family:Trebuchet MS, Arial; font-size:12px; color:#000000; }
.FieldValue2 { width:98%; margin-left:16px; float:left; margin-top:12px; font-family:Trebuchet MS, Arial; font-size:12px; color:#000000; }

.Lang { }

TABLE { font-family: Trebuchet MS, Arial; font-size:11px; color:#5a5a5a; text-align:left;
    height: 33px;
}
TD { font-family: Trebuchet MS, Arial; font-size:11px; color:#5a5a5a;
    margin-left: 80px;
}
TH { font-family: Trebuchet MS, Arial; font-weight: BOLD; font-size:11px; color:#395584; }


/* Menu */
div#menu { margin: 0px auto; height:41px; }
div#menu ul { margin: 0; padding: 0; list-style: none; float: left; }
div#menu ul.menu { padding-left: 0px; }
div#menu li
{
     position: relative;
    z-index: 9;
    margin: 0;
    padding: 0 5px 0 0;
    display: block;
    float: left;
}
div#menu .linkLabel
{
     font-family: Ebrima;
    font-size: 13px;
    color: #FFFFFF;
  
}
div#menu ul ul .hrefLabel
{
    font-family: Ebrima;
    font-size: 13px;
    color: #636161;
    font-weight: 100;
}
div#menu ul ul .hrefLabel:hover
{
    font-family: Ebrima;
    font-size: 13px;
    color: #000;
    font-weight: 100;
}
div#menu li:hover>ul { left: -2px; }
div#menu a { position: relative; z-index: 10; height: 41px; display: block; float: left; line-height: 41px; text-decoration: none; font: normal 12px Trebuchet MS; }
div#menu a:hover, div#menu a:hover span { color: #fff; }
div#menu li.current a {    top: 0px;
    left: 0px;
}
div#menu span { display: block; cursor: pointer; background-repeat: no-repeat; background-position: 95% 0; }
div#menu ul ul a.parent span { background-position:95% 8px; background-image: url(../../images/Template/item-pointer.gif); }
div#menu ul ul a.parent:hover span { background-image: url(../../images/Template/item-pointer-mover.gif); }
div#menu a { padding: 0 10px 0 10px; line-height: 30px; color: #e5e5e5; } /* menu::level1 */
div#menu span { margin-top: 5px; font-size:14px; }
div#menu li.last { background: none; }
div#menu ul ul li { background: none; } /* menu::level2 */
div#menu ul ul { position: absolute; top: 40px; left: -999em; width: 163px; padding: 5px 0 0 0; background: rgb(45,45,45); margin-top:1px; }
div#menu ul ul a { padding: 0 0 0 15px; height: auto; float: none; display: block; line-height: 24px; color: rgb(169,169,169); }
div#menu ul ul span { margin-top: 0; padding-right: 15px; _padding-right: 20px; color: rgb(169,169,169); }
div#menu ul ul a:hover span { color: #fff; }
div#menu ul ul li.last { background: none; }
div#menu ul ul li { width: 100%; }
div#menu ul ul ul { padding: 0; margin: -38px 0 0 163px !important; margin-left:172px; } /* menu::level3 */
div#menu ul ul ul { background: rgb(41,41,41); } /* colors */
div#menu ul ul ul ul { background: rgb(38,38,38); }
div#menu ul ul ul ul { background: rgb(35,35,35); }
div#menu li.back { background: url(../images/Template/lava.png) no-repeat right -44px !important; background-image: url(../images/Template/lava.png); width: 13px; height: 44px; z-index: 8; position: absolute; margin: -1px 0 0 -5px; } /* lava lamp */
div#menu li.back .left { background: url(../images/Template/lava.png) no-repeat top left !important; background-image: url(../images/Template/lava.png); height: 44px; margin-right: 8px; }

/* Menu 2 */
div#menu2 { margin: 0px auto; height:41px; }
div#menu2 .menuLabel
{
     font-family: Ebrima;
    font-size: 12px;
    color: #FFFFFF;
}
div#menu2 ul { margin: 0; padding: 0; list-style: none; float: left; }
div#menu2 ul.menu2 { padding-left: 0px; }
div#menu2 li { position: relative; z-index: 9; margin: 0; padding: 0 5px 0 0; display: block; float: left; }
div#menu2 li:hover>ul { left: -2px; }
div#menu2 a { position: relative; z-index: 10; height: 41px; display: block; float: left; line-height: 41px; text-decoration: none; font: normal 12px Trebuchet MS; }
div#menu2 a:hover, div#menu2 a:hover span { color: #fff; }
div#menu2 li.current a {}
div#menu2 span { display: block; cursor: pointer; background-repeat: no-repeat; background-position: 95% 0; }
div#menu2 ul ul a.parent span { background-position:95% 8px; background-image: url(../../images/Template/item-pointer.gif); }
div#menu2 ul ul a.parent:hover span { background-image: url(../../images/Template/item-pointer-mover.gif); }
div#menu2 a { padding: 0 10px 0 10px; line-height: 30px; color: #e5e5e5;
    width: 90px;
    top: 0px;
    left: 32px;
}
div#menu2 span { margin-top: 5px;
    margin-left: 0px;
}
div#menu2 ul ul .hrefLabel
{
    font-family: Ebrima;
    font-size: 12px;
    color: #636161;
    font-weight: 100;
}
div#menu2 ul ul .hrefLabel:hover
{
    font-family: Ebrima;
    font-size: 12px;
    color: #000;
    font-weight: 100;
}
div#menu2 li.last { background: none; }
div#menu2 ul ul li { background: none; }
div#menu2 ul ul { position: absolute; top: 40px; left: -999em; width:250px; padding: 5px 0 0 0; background: #ddd !important; margin-top:1px; }
div#menu2 ul ul a { padding: 0 0 0 15px; height: auto; float: none; display: block; line-height: 24px; color: rgb(169,169,169); }
div#menu2 ul ul span { margin-top: 0; padding-right: 15px; _padding-right: 20px; color: rgb(169,169,169); }
div#menu2 ul ul a:hover span { color: #fff; }
div#menu2 ul ul li.last { background: none; }
div#menu2 ul ul li { width: 100%; }
div#menu2 ul ul ul { padding: 0; margin: -38px 0 0 152 !important; margin-left:152px; }
div#menu2 ul ul ul { background: rgb(41,41,41); }
div#menu2 ul ul ul ul { background: rgb(38,38,38); }
div#menu2 ul ul ul ul { background: rgb(35,35,35); }
div#menu2 li.back { background: url(../images/Template/lava.png) no-repeat right -44px !important; background-image: url(../images/Template/lava.png); width: 13px; height: 44px; z-index: 8; position: absolute; margin: -1px 0 0 -5px; }
div#menu2 li.back .left { background: url(../images/Template/lava.png) no-repeat top left !important; background-image: url(../images/Template/lava.png); height: 44px; margin-right: 8px; }


/* Messages page */
.infoRow { font-size: 11px; color: #949494; margin-bottom: 0px; margin-top: -2px; }
.infoRow > .time { float: right; }
.infoRow > .name { float: left; }

.DivContent
{
    background-color: #FFFFFF;
    border: 1px solid #003399;
    

box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
}

.DivContentBody
{
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
    moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
    webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
    border-radius: 10px 10px 10px 10px;
}

.mGrid
{
    width: 100%;
    background-color: #fff;
    margin: 5px 0 10px 0;
    border: 1px solid #BACFF8;
    border-collapse: collapse;
}
    .mGrid td
{
    padding: 2px;
    border: 1px solid #6998EF;
    color: #717171;
}
    .mGrid th
{
    padding: 4px 2px;
    color: #fff;
    border-left: solid 1px #525252;
    font-size: 0.9em;
    background-color: #F7F7F7;
    border-width: 1px;
    border-color: #6998EF;
    border-style: solid;
}
.mGrid .alt { background: #fcfcfc url(grd_alt.png) repeat-x top; }
.mGrid .pgr
{
    background: #6998EF url('../img/Grid/grd_pgr1.png') repeat-x top;
}
    .mGrid .pgr table { margin: 5px 0; }
    .mGrid .pgr td
{
    border-width: 0;
    padding: 0 6px;
    border-left: solid 1px #666;
    font-weight: bold;
    color: #fff;
    line-height: 12px;
    border-left-color: #BACFF8;
}   
    .mGrid .pgr a
{
    color: #666;
    text-decoration: none;
}
    .mGrid .pgr a:hover { color: #000; text-decoration: none; }

.imgImport
{
    width: 32px;
    height: 32px;
    background-image: url('../img/Import.png');
}
.imgImport_Disable
{
    width: 32px;
    height: 32px;
    background-image: url('../img/Import_Disable.png');
}

.imgWebCallAllocate
{
    width: 32px;
    height: 32px;
    background-image: url('../img/WebCallAllocate.png');
}
.img_WebCallAllocate
{
    background-position: right center;
    width: 100px;
    height: 64px;
    background-image: url('../img/internet-128.png');
    background-repeat: no-repeat;
    background-attachment: inherit;
}
.img_TaskComplete
{
    background-position: right center;
    width: 100px;
    height: 68px;
    background-image: url('../img/task_completed.png');
    background-repeat: no-repeat;
    background-attachment: inherit;
}
.img_pendHold
{
    background-position: right center;
    width: 100px;
    height: 64px;
    background-image: url('../img/world-hand-2-64.png');
    background-repeat: no-repeat;
    background-attachment: inherit;
}
.img_pendClarification
{
    background-position: right center;
    width: 100px;
    height: 64px;
    background-image: url('../img/Classification-64.png');
    background-repeat: no-repeat;
    background-attachment: inherit;
}

.img_pendCancel
{
    background-position: right center;
    width: 100px;
    height: 64px;
    background-image: url('../img/11-64.png');
    background-repeat: no-repeat;
    background-attachment: inherit;
}
.imgWebCallAllocate_Disable
{
    width: 32px;
    height: 32px;
    background-image: url('../img/WebCallAllocate_Disable.png');
}
.imgWebCallResearch
{
    width: 32px;
    height: 32px;
    background-image: url('../img/WebCallResearch.png');
}
.img_WebCallResearch
{
    background-position: right center;
    width: 100px;
    height: 64px;
    background-image: url('../img/mail_search.png');
    background-repeat: no-repeat;
    background-attachment: inherit;
}

.imgMailFaxAllocate
{
    width: 32px;
    height: 32px;
    background-image: url('../img/MailFaxAllocate.png');
}

.img_MailFaxAllocate
{
    background-position: right center;
    width: 100px;
    height: 64px;
    background-image: url('../img/mails-128.png');
    background-repeat: no-repeat;
    background-attachment: inherit;
}
.imgMailFaxAllocate_Disable
{
    width: 32px;
    height: 32px;
    background-image: url('../img/MailFaxAllocate_Disable.png');
}

.imgMailFaxQue
{
    width: 32px;
    height: 32px;
    background-image: url('../img/MailFaxQue.png');
}
.img_MailFaxQue
{
    background-position: right center;
    width: 100px;
    height: 64px;
    background-image: url('../img/search_document-128.png');
    background-repeat: no-repeat;
    background-attachment: inherit;
}
.imgProfile
{
    width: 32px;
    height: 32px;
    background-image: url('../../Organisation/organisation/profile1icon.png');
}
.imgQualityAllocate
{
    width: 32px;
    height: 32px;
    background-image: url('../img/Qc Allocate.png');
}
.img_QualityAllocate
{
    background-position: right center;
    width: 100px;
    height: 64px;
    background-image: url('../img/world-hand-2-64.png');
    background-repeat: no-repeat;
    background-attachment: inherit;
}
.img_QualityAllocate
{
    background-position: right center;
    width: 100px;
    height: 64px;
    background-image: url('../img/checklist-128.png');
    background-repeat: no-repeat;
    background-attachment: inherit;
}
.imgQualityAllocateDisable
{
    width: 32px;
    height: 32px;
    background-image: url('../img/Qc Allocate_Disable.png');
}
.imgQcQue
{
    width: 32px;
    height: 32px;
    background-image: url('../img/QcQueaue.png');
}
.img_QcQue
{
    background-position: right center;
    width: 100px;
    height: 64px;
    background-image: url('../img/qualitych.png');
    background-repeat: no-repeat;
    background-attachment: inherit;
}
.imgExport
{
    width: 32px;
    height: 32px;
    background-image: url('../img/Export.png');
}
.img_Export
{
    background-position: right center;
    width: 100px;
    height: 64px;
    background-image: url('../img/export-64.png');
    background-repeat: no-repeat;
    background-attachment: inherit;
}
.imgExport_Disable
{
    width: 32px;
    height: 32px;
    background-image: url('../img/Export_Disable.png');
}

.imgProduction
{
    width: 32px;
    height: 32px;
    background-image: url('../img/ProductionReport.png');
}

.imgReport
{
    background-position: center center;
    width: 32px;
    height: 32px;
    background-image: url('../img/Reports.png');
    background-repeat: no-repeat;
}
.img_Report
{
    background-position: center center;
    width: 64px;
    height: 64px;
    background-image: url('../img/order_search.png');
    background-repeat: no-repeat;
    background-attachment: inherit;
}
.imgbacktotop
{
    width: 40px;
    height: 32px;
    background-image: url('../img/Upmark.png');
}
.box
	{
		padding: 2em 2em 2.5em 2em;
	}

		.box h3
		{
			margin-bottom: 0.25em;
		}

		.box .image-centered
		{
			margin-bottom: 1.25em;
		}

		.box .image-full
		{
			position: relative;
			left: 2em;
			top: 2em;
			margin: -4em 0 4em -4em;
			width: auto;
		}
.lbltd
{
    padding-left: 90px;
}

.tblhead
{ height: 30px;
    
    }

ul#navigation {
	height: 36px;
	padding: 20px 20px 0 30px;
	width: 904px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

.lbltd
{
    padding-left: 40px;
    }

.tblhead
{ height: 30px;
    padding-left: 10px;
    }

ul#navigation {
	height: 36px;
	padding: 20px 20px 0 30px;
	width: 904px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

ul#navigation li {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	float: left;
	width: 168px;
	margin: 0 10px 0 0;
	background-color: #2B477D;
	border: solid 1px #415F9D;
	position: relative;
	z-index: 1;
}

ul#navigation li.shadow {
	width: 100%;
	height: 2px;
	position: absolute;
	bottom: -3px;
	left: 0;
	border: none;
	background: none;
	z-index: 2;
	-webkit-box-shadow: #111 0 -2px 6px;
	-moz-box-shadow: #111 0 -2px 6px;
	box-shadow: #111 0 -2px 6px;
}

ul#navigation li a:link, ul#navigation li a:visited {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	display: block;
	text-align: center;
	width: 168px;
	height: 40px;
	line-height: 36px;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 13px;
	font-weight: bold;
	color: #fff;
	letter-spacing: 1px;
	outline: none;
	float: left;
	background: #2B477D;
	-webkit-transition: background-color 0.3s linear;
	-moz-transition: background-color 0.3s linear;
	-o-transition: background-color 0.3s linear;
}

ul#navigation li a:hover {
	background-color: #5a87dd;
}

ul#navigation li.selected a:link, ul#navigation li.selected a:visited
{
    color: #2B477D;
    border: solid 1px #fff;
    -webkit-transition: background-color 0.2s linear;
    background: -moz-linear-gradient(top center, #d1d1d1, #f2f2f2 80%) repeat scroll 0 0 #f2f2f2;
    background: -webkit-gradient(linear,left bottom,left top,color-stop(.2, #f2f2f2),color-stop(.8, #d1d1d1));
    background-color: #f2f2f2;
}


  .back-to-top
{
    position: fixed;
    bottom: 2em;
    right: 0px;
    text-decoration: none;
    
    
    font-size: 12px;
    padding: 1em;
    display: none;
   
}

		.back-to-top:hover {	
			
		
		}	
		
	.fancy-green .ajax__tab_header
{
    background: url('../images/Tab/green_bg_Tab.gif') repeat-x;
    cursor: pointer;
}
.fancy-green .ajax__tab_hover .ajax__tab_outer, .fancy-green .ajax__tab_active .ajax__tab_outer
{
    background: url('../images/Tab/green_left_tab.gif') no-repeat left top;
}
.fancy-green .ajax__tab_hover .ajax__tab_inner, .fancy-green .ajax__tab_active .ajax__tab_inner
{
    background: url('../images/Tab/green_right_Tab.gif') no-repeat right top;
}
.fancy .ajax__tab_header
{
	font-size: 13px;
	font-weight: bold;
	color: #000;
	font-family: sans-serif;
}
.fancy .ajax__tab_active .ajax__tab_outer, .fancy .ajax__tab_header .ajax__tab_outer, .fancy .ajax__tab_hover .ajax__tab_outer
{
	height: 46px;
}
.fancy .ajax__tab_active .ajax__tab_inner, .fancy .ajax__tab_header .ajax__tab_inner, .fancy .ajax__tab_hover .ajax__tab_inner
{
	height: 46px;
	margin-left: 16px; /* offset the width of the left image */
}
.fancy .ajax__tab_active .ajax__tab_tab, .fancy .ajax__tab_hover .ajax__tab_tab, .fancy .ajax__tab_header .ajax__tab_tab
{
	margin: 16px 16px 0px 0px;
}
.fancy .ajax__tab_hover .ajax__tab_tab, .fancy .ajax__tab_active .ajax__tab_tab
{
	color: #fff;
}
.fancy .ajax__tab_body
{
	font-family: Arial;
	font-size: 10pt;
	border-top: 0;
	border:1px solid #999999;
	padding: 8px;
	background-color: #ffffff;
}

		
.bubble
{
    width: 20px;
    height: 20px;
    padding: 1px;
    background: #DF0005;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    top: 0px;
    left: 0px;
}

.bubble:after 
{
content: "";
position: absolute;
top: 6px;
left: -10px;
border-style: solid;
border-width: 5px 10px 5px 0;
border-color: transparent #DF0005;
display: block;
width: 0;
z-index: 1;
}



.Notifer
{
    position: relative;
    width: 42px;
    height: 20px;
    padding: 0px;
    background: #399158;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    top: 9px;
    left: 0px;
    text-align:center;
    margin:0 auto;
    vertical-align:middle;

}

.Notifer:after 
{
content: "";
position: absolute;
bottom: -0px;
left: 8px;
border-style: solid;
border-width: 0px 16px 0;
border-color: #399158 transparent;
display: block;
width: 0;
z-index: 1;
text-align:center;
}



.bubble_Tab_Header 
{
position: relative;
width: 15px;
height: 15px;
padding: 0px;
background: #008400;
-webkit-border-radius: 14px;
-moz-border-radius: 14px;
border-radius: 14px;
}


.bubble_Tab_Header:after 
{
content: "";
position: absolute;
top: 6px;
left: -7px;
border-style: solid;
border-width: 2px 7px 2px 0;
border-color: transparent #008400;
display: block;
width: 0;
z-index: 1;
}

   .MyTabStyle .ajax__tab_header
{
    font-family: "Helvetica Neue" , Arial, Sans-Serif;
    font-size: 14px;
    font-weight: bold;
    display: block;
    background: url('../img/TAb/tab_active.gif') repeat-x bottom;
    cursor: pointer;
}
        .MyTabStyle .ajax__tab_header .ajax__tab_outer
{
    border-color: #222;
    color: #FFFFFF;
    padding-left: 10px;
    margin-right: 3px;
    border: solid 1px #d7d7d7;
}
        .MyTabStyle .ajax__tab_header .ajax__tab_inner
{
    border-color: #666;
    color: #FFFFFF;
    padding: 10px 10px 10px 10px;
}
        .MyTabStyle .ajax__tab_hover .ajax__tab_outer
        {
            background-color:#9c3;
        }
        .MyTabStyle .ajax__tab_hover .ajax__tab_inner
        {
            color: #fff;
        }
        .MyTabStyle .ajax__tab_active .ajax__tab_outer
{
    border-bottom-color: #ffffff;
    background-color: #FFBFBF;
    color: #000000;
}
        .MyTabStyle .ajax__tab_active .ajax__tab_inner
        {
            color: #000;
            border-color: #333;
        }
        .MyTabStyle .ajax__tab_body
{
    border-style: solid;
    border-width: 1px;
    border-color: #2D6A64 #d7d7d7 #d7d7d7 #d7d7d7;
    font-family: verdana,tahoma,helvetica;
    font-size: 10pt;
    background-color: #fff;
}



.sample
{
    z-index: 1;
    background: #fff;
    -o-background:#fff;
    -moz-background:#fff;
    -webkit-background:#fff;
    margin: 7px;
    position: relative;
}

.sample > span
{
    color: #7B7B7B;
    background: #fff;
    -o-background:#fff;
    -moz-background:#fff;-webkit-background:#fff;
    font: bold 13px arial,serif;
}
.sample > span b
{
    color: #B33D3D;
    display: block;
    padding: 7px;
    text-align: justify;
    text-shadow: 1px 1px 0 #F9F9F9;
    text-transform: uppercase;
    width: 438px;
}
