.one{
	padding: 10px 0px;
}
.one ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.one ul li{
	float: left;
}
.one ul li a{
	text-decoration: none;
	color: #fff;
	width: 100%;
	padding: 0px 25px;
}
.one ul li a:first-child{
	padding-left: 0px;
}
.two{
	padding: 10px 0px;
}
.two ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.two ul li{
	float: right;
}
.two ul li a{
	text-decoration: none;
	color: #fff;
	width: 100%;
	padding: 0px 25px;
}
.two ul li a:first-child{
	padding-right: 0px;
}
.three{
	padding: 0px;
}
.three h2{
	margin: 0px;
}



.card {
    display: inline-block;
    position: relative;
    width: 100%;
    margin: 25px 0;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    border-radius: 3px;
    color: rgba(0, 0, 0, 0.87);
    background: #fff;
}

.card-stats .card-header {
    float: left;
    text-align: center;
}
.card [data-background-color] {
    color: #FFFFFF;
}
.card [data-background-color="orange"] {
    background: linear-gradient(60deg, #ffa726, #fb8c00);
    box-shadow: 0 12px 20px -10px rgba(255, 152, 0, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 152, 0, 0.2);
}
.card .card-header {
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    margin: -20px 15px 0;
    border-radius: 3px;
    padding: 10px;
    background-color: #999999;
}
.card-stats .card-header i {
    font-size: 36px;
    line-height: 56px;
    width: 56px;
    height: 56px;
}
.card-stats .card-content {
    text-align: right;
    padding-top: 10px;
}
.card .card-content {
    padding: 15px 20px;
}
.card .card-content .category {
    margin-bottom: 0;
}
.card .category:not([class*="text-"]) {
    font-weight:bold;
    font-size:15px;
}

.stats a{
	text-decoration: none;
}


.h6, h6 {
    font-size: 11px !important;
}

.title span
{
    font-size:20px;
}


.card-content a
{
    text-decoration:none !important;
}
.card-content a span
{
    font-size:11px !important;
}


tr:nth-child(even) {
    background-color: #f9f9f9;
}

